<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['inicio']" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['usuario']" href="#">Usuario</a>
        </li>
      </ul>
    </div>
    <span class="navbar-text">
      <button class="btn btn-primary" (click)="login()">Login</button>
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </span>
  </div>
</nav>
<router-outlet></router-outlet>
